.single__comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.commentor {
  font-weight: bold;
  margin-right: 5px;
}

.like__comment {
  margin-right: 5px;
  cursor: pointer;
}

.comment__item {
  margin: 5px 0px;
}
