.post {
  width: 550px;
  margin: 30px 40px 50px 40px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.avatar {
  margin-right: 7px;
}

.post__headerAuthor > span {
  font-size: 12px;
  color: grey;
}

.post__image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
  height: 30rem;
  object-fit: cover;
}

.post__footer {
}

.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon {
  font-size: 25px;
  padding: 5px;
}

.postIcon:hover {
  cursor: pointer;
}

.likes {
  margin-left: 7px;
  font-weight: bold;
  margin: 2px 0px 0px 7px;
  font-size: 15px;
  color: gray;
}
